<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>杨先森的基地</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="blog.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="vue.min.js"></script>
    <script src="vue-router.js"></script>
    <!-- <script src="blog.js"></script> -->
</head>

<body>
    <div id="app">
        <div class="blog-masthead">
            <!-- 顶部导航栏 -->
            <div class="container">
                <div class="blog-nav">
                    <div class="sidenav" id="mySidenav">
                        <a href="#" class="closebtn" @click="close()">&times;</a>
                        <ul class="ul1">
                            <li @mouseover.prevent="touxiang1" @mouseout.prevent="noActive=!noActive,isActive=!isActive">
                                <img src="images/头像.jpg" alt="头像" style="width:50px;height:50px;border-radius:50%;">
                            </li>
                            <li class="liHover" @mouseover.prevent="Eric1" @mouseout.prevent="noActive=!noActive,isActive=!isActive">
                                <strong>Eric</strong>
                            </li>
                            <li class="liHover" @mouseover.prevent="github" @mouseout.prevent="noActive=!noActive,isActive=!isActive">
                                <a href="https://github.com/Eric-yxs">Github</a>
                            </li>
                            <li class="liHover">
                                这个地方
                            </li>
                            <li class="liHover">
                                留着以后
                            </li>
                            <li class="liHover">
                                补充
                            </li>
                        </ul>
                        <div class="note">
                            <p :class="{'active':isActive,'current':noActive}">
                                {{pmsg2}}
                            </p>
                        </div>
                    </div>
                    <span @click="open()" style="font-size:20px;color:white;" id="mySidenav2">&#9776;</span>
                    <a href="#" class="blog-nav-item" @click.prevent="way=shouye">首页</a>
                    <a href="#" class="blog-nav-item" @click.prevent="way=html5">HTML5</a>
                    <a href="#" class="blog-nav-item" @click.prevent="way=css">CSS</a>
                    <a href="#" class="blog-nav-item" @click.prevent="way=js">Javascript</a>
                    <a href="#" class="blog-nav-item" @click.prevent="way=vue">Vue.js</a>
                    <a href="#" class="blog-nav-item" @click.prevent="way=bs">Bootstrap</a>
                    <!-- <router-link to="/shouye">首页</router-link>
                    <router-link to="/html5">首页</router-link>
                    <router-link to="/css">首页</router-link>
                    <router-link to="/js">首页</router-link>
                    <router-link to="/vue">首页</router-link>
                    <router-link to="/bs">首页</router-link> -->
                </div>
            </div>
        </div>
        <!-- <router-view></router-view> -->
        <!-- <canvas id="cas" position : absolute;z-index : -1;></canvas> -->
        <component :is="way">
            <!-- <canvas id="cas" position : absolute;z-index : -1;></canvas> -->
        </component>

        <footer>
            <p>Provide by Eric</p>
        </footer>
    </div>
    <!-- 首页内容组件 -->
    <template id="temp">
        <div>
            <!-- <canvas id="canvas"> -->
            <div class="container">
                <div class="blog-header">
                    <h2 class="blog-title">
                        <!-- 欢迎来到艾瑞克杨先森的学习基地 -->
                    </h2>
                    <p class="lead blog-description">
                        杨先森是一个零基础自学前端的大学生，我会这里分享一些，我这一年多来，学习前端技术的问题及解决方案。
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-2" id="pcnav">
                        <ul class="ul1">
                            <li class="liHover" @mouseover.prevent="touxiang" @mouseout.prevent="noActive=!noActive,isActive=!isActive">
                                <img src="images/头像.jpg" alt="头像" style="width:50px;height:50px;border-radius:50%;">
                            </li>
                            <li class="liHover" @mouseover.prevent="Eric" @mouseout.prevent="noActive=!noActive,isActive=!isActive">
                                <strong>Eric</strong>
                            </li>
                            <li class="liHover" @mouseover.prevent="github" @mouseout.prevent="noActive=!noActive,isActive=!isActive">
                                <strong><a href="https://github.com/Eric-yxs">Github</a></strong>
                            </li>
                            <li class="liHover">
                                <strong>这个地方</strong>
                            </li>
                            <li class="liHover">
                                <strong>留着以后</strong>
                            </li>
                            <li class="liHover">
                                <strong>补充</strong>
                            </li>
                        </ul>
                        <div class="note">
                            <p :class="{'active':isActive,'current':noActive}"  >
                                {{pmsg}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 blog-main">
                        <div class="blog-post">
                            <h3 class="blog-title">
                                这是第一条博客
                            </h3>
                            <p class="blog-post-meta">
                                2019.08.19 by
                                <a href="#">杨先森</a>
                            </p>

                            <p>
                                关于更新，杨先森会不定时更新一些内容，其中会有一些日常分享和一些技术分享给大家，希望大家会喜欢。
                            </p>
                            <hr>
                            <h3>
                                熟能生巧
                            </h3>
                            <p class="blog-post-meta">
                                2019.08.27 by <a href="#">杨先森</a>
                            </p>
                            <p>在杨先森学习的过程中，一直都知道，编程就是要多练习，多码多想多看。多码能提高写代码的效率，多想能提高代码的质量，多看能提高视野。
                                杨先森之前看到有一个程序员前辈分享的一句话，<strong>他说在一个项目中，你写的代码能用上的量大概只有你写的10%左右。</strong>他分享完这句话，底下有很多程序员前辈赞成。
                                这也提醒我，代码质量的重要性，要多思考。</p>
                            <p>
                                与此同时，对于我来说，我要通过多码来提高我的熟练度，因此就有了这些。
                            </p>
                            <div class="code">
                                <img src="images/shouye1.png" alt="效果图" :class="{'active':magnify18}"
                                    @click="magnify18=!magnify18">
                            </div>
                            <p>这还只是一部分，每一部分都是我成为程序员的阶梯。</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                        <div class="sidebar-module sidebar-module-inset">
                            <h4>关于</h4>
                            <p>杨先森:
                                目前在读大四学生，享受生活，热爱技术，是一个环境专业的自学程序猿。
                            </p>
                        </div>
                        <div class="sidebar-module">
                            <h4>导航</h4>
                            <ol class="list-unstyled">
                                <li>
                                    <a href="#" @click.prevent="way=html5">HTML5</a>

                                </li>
                                <li>
                                    <a href="#" @click.prevent="way=css">CSS3</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="way=js">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="way=vue">Vue</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="way=bs">Bootstrap</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </canvas> -->
        </div>

    </template>
    <!-- HTML5内容组件 -->
    <template id="temp1">
        <div>
            <div class="container">
                <div class="blog-header">
                    <h2 class="blog-title">
                        HyperText Markup Language
                    </h2>
                    <p class="lead blog-description">
                        超文本标记语言是一种用于创建网页的标准标记语言。
                    </p>
                </div>
                <div class="blog-post">
                    <h3>学习HTML</h3>
                    <p class="blog-post-meta">
                        2019.08.19 by
                        <a href="#">杨先森</a>
                    </p>
                    <p>
                        学习HTML，非常<em><strong>简单！</strong></em>所以在这里就不细说了。不过在学习过程中要注意以下几点。
                    </p>
                    <hr>
                    <h2>注意！</h2>
                    <p><strong>1</strong>:对于中文网页需要使用 &lt;meta charset="utf-8"&gt; 声明编码，否则会出现乱码。有些浏览器(如 360 浏览器)会设置 GBK
                        为默认编码，则你需要设置为 &lt;meta charset="gbk"&gt;。</p>
                    <p><strong>2</strong>:HTML中不支持 空格、回车、制表符，它们都会被解析成一个空白字符。</p>
                    <p><strong>3</strong>:&lt;!doctype html&gt; 声明必须位于 HTML5 文档中的第一行,使用非常简单</p>
                    <p><strong>4</strong>:HTML 大小写不敏感，不区分大小写，也就是说大小写都不影响。但根据W3C的规范写法，一般使用小写。</p>
                    <p>同时在这里补充一下:CSS大小写不敏感，也不区分大小写。但根据W3C的规范写法，一般使用小写。JavaScript 对大小写非常敏感，一定要区分大小写。</p>
                    <!-- <iframe width="100%" height="300" src="https://c.runoob.com/iframe/3129"
                        allowfullscreen="allowfullscreen" frameborder="0"></iframe> -->
                </div>
            </div>
        </div>
    </template>
    <!-- CSS内容组件 -->
    <template id="temp2">
        <div>
            <div class="container">
                <div class="blog-header">
                    <h2 class="blog-title">
                        CSS3
                    </h2>
                    <p class="lead blog-description">CSS 用于控制网页的样式和布局。</p>
                </div>
                <div class="blog-post">
                    <h3>学习CSS3</h3>
                    <p class="blog-post-meta">
                        2019.08.19 by <a href="#">杨先森</a>
                    </p>
                    <p>学习CSS可以让我们的页面变得更加漂亮，美观。但是HTML5与CSS3这两个都是属于页面的外表，很容易掌握。页面的灵魂还是在于JS。所以CSS3也不做多的介绍</p>
                    <hr>
                    <h2>CSS居中总结!</h2>
                    <p class="blog-post-meta">相信有很多学习CSS的同学都会遇到这个问题，CSS的居中应该是CSS的重点，所以我在这里，对我的学习CSS居中情况来个小小的总结。</p>
                    <p class="littleTitle">1：单行行内元素，父元素设置line-height和height高度一样，就可以实现垂直居中,如图:</p>
                    <div class="code">
                        <img src="images/code1.png" alt="代码图">
                    </div>
                    <p>效果如下：</p>
                    <div class="code">
                        <img src="images/showimg.png" alt="效果图">
                    </div>
                    <p class="littleTitle">
                        2：当情况是多行行内元素垂直居中的时候，则需要设置父元素line-height和height高度一样，子元素设置display:inline-block;vartical-align:middle以及line-height:1.5,如图：
                    </p>
                    <div class="code">
                        <img src="images/code2.png" alt="代码图">
                    </div>
                    <p>效果如下：</p>
                    <div class="code">
                        <img src="images/showimg2.png" alt="效果图">
                    </div>
                    <p class="littleTitle">3：此方法对单行，多行均有效，即设置父元素padding上下内边距相等，如图:</p>
                    <div class="code">
                        <img src="images/code3.png" alt="代码图">
                    </div>
                    <p>效果如下，<strong>但此方法有一缺点即无法确定父元素的高度：</strong></p>
                    <div class="code">
                        <img src="images/showimg3.png" alt="效果图" style="padding-top:-5px;">
                    </div>
                    <p class="littleTitle">4：面对块级元素，首先想到的就是flexbox盒子了。具体实现代码如下：</p>
                    <div class="code">
                        <img src="images/code4.png" alt="代码图">
                    </div>
                    <p>效果如下，非常好用:</p>
                    <div class="code">
                        <img src="images/showimg4.png" alt="效果图">
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- JS内容组件 -->
    <template id="temp3">
        <div>
            <div class="container">
                <div class="blog-header">
                    <h2 class="blog-title">Javascript</h2>
                    <p class="blog-description">
                        JavaScript 是 Web 的编程语言。
                    </p>
                </div>
                <div class="jsShow">
                    <div @click="flag=!flag" class="wrap" :class="{'active':flag}">
                        <h3>接触的第一个JS</h3>
                        <p class="blog-post-meta">
                            2019.08.20 by <a href="#">杨先森</a>
                        </p>
                        <p>刚接触JS时，尽管是一个容易的逻辑，但还是难倒我一段时间，各种查资料，百度看解析，到最后解决问题，还是非常有成就感的，我相信很多自学的同学也会有同样的感受。<br>
                            那么话不多说，一起来看看我的第一个JS代码是什么吧！这是一篇技术文！！！</p>
                    </div>
                    <!-- 通过动画实现下拉内容 -->
                    <transition>
                        <div class="jsmain" v-if="flag">
                            <h4>第一个JS任务</h4>
                            <p>完成九宫图随机闪烁三种颜色,效果如图：</p>
                            <div class="code">
                                <img src="images/task1.png" alt="任务一" :class="{'active':magnify1}"
                                    @click="magnify1=!magnify1">
                            </div>
                            <p>实现效果，当点击开始按钮，九宫格随机三块随机颜色闪动，当点击停止时，停止闪动。<br>
                                其实，要实现这个效果的逻辑的难点就在如何随机的取三块。<br>
                                如果大家和我一样遇到不懂的问题就百度，那么大家就会发现这个洗牌算法。关于洗牌算法，我这里就不多解释了，大家可以从百度上学习。不懂就百度是一个程序员的基本准则啊。<br>
                                那么，我到底是如何实现的呢？我来给大家分析一下：</p>
                            <div class="code">
                                <img src="images/code5.png" alt="代码图" :class="{'active':magnify}"
                                    @click="magnify = !magnify">
                            </div>
                            <p>从上面这张图，我给出了我九宫格的布局以及命名，以便大家理解接下来的代码。在这张图的最后，是业务逻辑的前两步，1：获取DOM，2：重置九宫格颜色。<br>
                                在完成这些之后，我们就可以运用我们刚学的洗牌算法了。</p>
                            <div class="code">
                                <img src="images/code6.png" alt="代码图" :class="{'active':magnify2}"
                                    @click="magnify2=!magnify2">
                            </div>
                            <p>随机获取颜色，相信大家都会，关于我洗牌算法，我是这样理解的，1：先创建一个新数组 a
                                ，因为我们只需要取三个随机数，所以2：我们只要循坏三次，每次取一个随机数，再进行判断，3：如果在a数组中没有这个随机数，
                                就将这个随机数放入 a 数组中，有的话就重新来。4：这样我们 a 数组中就有了三个随机数，这样我们就能获得这三个随机数对应的宫格了。只要给宫格上随机的颜色就大功告成了。
                            </p>
                            <p>就剩最后一步了，设置一个定时器，循环这样的操作，就实现我们的效果了。</p>
                            <div class="code">
                                <img src="images/code7.png" alt="代码图" :class="{'active':magnify3}"
                                    @click="magnify3=!magnify3">
                            </div>
                            <p>这个就是我第一次接触的JS了，看完是不是觉得特别简单，但还是花了我不少时间取琢磨。不过为了能找到工作，这点苦有算什么！！我们一定要努力啊。</p>
                        </div>
                    </transition>
                </div>
                <hr>
                <div class="jsShow">
                    <div class="wrap" @click="flag2=!flag2" :class="{'active':flag2}">
                        <h3>运用JS制作相册</h3>
                        <p class="blog-post-meta">
                            2019.08.21 by <a href="#">杨先森</a>
                        </p>
                        <p>
                            在简单学习了JS后，我就会找一些实例来练习，有这样一种相册，相信大家都见过，点击图片放大，然后左右有上一张下一张按钮，点击切换图片。而我做的，应该就是简易版的相册。
                            做法相对简单，在这一篇文章，我就只跟大家说一下业务逻辑，有不对的地方还请见谅。
                        </p>
                    </div>
                    <div class="jsmain" v-if="flag2">
                        <h4>简易相册逻辑</h4>
                        <p>话不多说，直接上码了：</p>
                        <div class="code">
                            <img src="images/code8.png" alt="代码图" :class="{'active':magnify4}"
                                @click="magnify4=!magnify4">
                        </div>
                        <p>代码还是很好理解的，至于具体的相册内容，因为私人原因，在下就不在这里展开了，大家不懂就百度，准没错！</p>
                    </div>
                </div>
                <hr>
                <div class="jsShow">
                    <div class="wrap" @click="flag3=!flag3" :class="{'active':flag3}">
                        <h3>原生JS做弹幕效果</h3>
                        <p class="blog-post-meta">
                            2019.08.27 by <a hrev="#">杨先森</a>
                        </p>
                        <p>
                            杨先森之前看一个视频是用jQuery做的一个弹幕效果，用jQuery确实要比原生JS做出来简单很多。但不管怎样JS都是我们的基本，所以杨先森看完就在思考原生JS如何
                            实现弹幕效果。
                        </p>
                    </div>
                    <div class="jsmain" v-if="flag3">
                        <h4>弹幕效果JS</h4>
                        <p>让我们上码来分析：</p>
                        <div class="code">
                            <img src="images/code16.png" alt="代码图" :class="{'active':magnify15}"
                                @click="magnify15=!magnify15">
                        </div>
                        <p>上面是HTML结构，非常的简单，一个弹幕区，一个发射区</p>
                        <p>接下来是CSS样式：</p>
                        <div class="code">
                            <img src="images/code17.png" alt="代码图" :class="{'active':magnify16}"
                                @click="magnify16=!magnify16">
                        </div>
                        <p>大家可以把样式设置漂亮一点，我的勉强还能看吧，嘿嘿嘿</p>
                        <p>接下来就是JS了，如果大家发现你写的JS可以更好更简单，可以联系我<a href="#" @click="email">杨先森</a></p>
                        <div class="code">
                            <img src="images/code18.png" alt="代码图" :class="{'active':magnify17}"
                                @click="magnify17=!magnify17">
                        </div>
                        <p>有了JS代码图，我来说说实现原理，首先，我们在input输入内容后，我们先要获取到input中的内容，然后我们需要创建一个span标签，
                            并将input中的内容赋值给span中，然后清空input内容，将span标签插入到弹幕区中去，这样在弹幕区就会有我们的span的内容，
                            然后就是改变span的样式，让它更好看，同时我们通过position的设置，让span标签出现在不同的高度，还要通过动画让其动起来，实现从右到左飘过的效果。在动画
                            结束后，我们用一个监听，当动画结束后，就立刻删除span标签。
                        </p>
                        <p>至于要记录下弹幕的内容，就是数据库的事情了，在这里我就不多说了。大家快去试试吧！</p>
                    </div>
                </div>
                <hr>
                <div class="jsShow">
                    <div class="wrap" @click="flag4=!flag4" :class="{'active':flag4}">
                        <h3>原生JS黑客帝国</h3>
                        <p class="blog-post-meta">
                            2019.08.30 by <a href="#">杨先森</a>
                        </p>
                        <p>
                            昨天，杨先森看了一个做黑客帝国的视频，做出来的效果特别的炫酷，所以今天把这个分享给大家，同时也将我的理解分享给大家。
                        </p>
                        <p>首先先看一下效果：</p>
                        <div class="canvasWrap">
                            <canvas id="canvas">

                            </canvas>
                        </div>
                        <p>接下来就来看一下我是如何实现的。</p>
                        <div class="jsmain" v-if="flag4">
                            <h4>代码雨</h4>
                            <p>HTML与CSS样式都比较简单，在这里就不说了，直接上码：</p>
                            <pre>
                                <code>
    CSS
    *{
        margin:0;
        padding:0;
    }
    #canvas{
        display:block;
    }
    HTML
    &lt;canvas id="canvas"&gt;&lt;/canvas&gt;
                                </code>
                            </pre>
                            <p>接下来就是JS代码了，在JS代码中，我会一一给大家注释：</p>
                            <pre>
                                <code>
    //获取画布
    var can = document.getElementById("canvas")
    //声明环境
    var ctx = can.getContext("2d")
    var viewWidth, viewHeight
    //获取视口尺寸
    function view(){
        can.width = viewWidth = window.innerWidth
        can.height = viewHeight = window.innerHeight
    }
    view()
    //这个步骤可以使画布尺寸随视口变化
    window.onresize = view
    //创建26字母
    var text = "QWERTYUIOPLAKSJDHFGMZNXBCV"
    //字母占的面积
    var size = 24
    //计算当前视口可以放多少列字母
    var num = parseInt(viewWidth/size)
    //分析：要使字母从上往下落，我们就要不断更新字母的坐标，当字母下落后又重新从上往下，字母的X坐标可以为 size*i
    var arr = [] 
    for(var i=0;i&lt;num;i++){
        //设置坐标y起点
        arr.push(0)
    }
    function draw(){
        ctx.fillStyle = "rgba(0,0,0,0.1)"   //填充刷黑
        ctx.fillRect(0,0,viewWidth,viewHeight)  //填充区域
        ctx.fillStyle = "green" //颜色设置
        ctx.font = "20px arial" //字体大小
        for(i=0;i&lt;num;i++){
            var ox = size*i  //x坐标
            var oy = arr[i]*size  //y坐标
            //判断，和增加随机性，使各列的字母随机时间下落
            if(oy>viewHeight&&Math.random()&gt;0.98){
                arr[i] = 0
            }
            arr[i]++   //使y坐标增加，实现下降
            var random = Math.floor(Math.random()*text.lenght)
            //开始填充
            cxt.fillText(text[random],ox,oy)
        }
    }
    setInterval(draw,50) //设置定时器，循坏
                                </code>
                            </pre>
                            <p>这样，酷炫的黑客帝国效果就实现了。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- Vue内容组件 -->
    <template id="temp4">
        <div>
            <div class="container">
                <div class="blog-header">
                    <h2 class="blog-title">
                        Vue.js
                    </h2>
                    <p class="lead blog-description">
                        一套用于构建用户界面的渐进式框架。
                    </p>
                </div>
                <div>
                    <h3>这是一个基于Vue.js建成的网站！</h3>
                    <p class="blog-post-meta">
                        2019.08.22 by <a href="#">杨先森</a>
                    </p>
                    <p>
                        之前在学了前端知识后，就经常找一些网站实例练习一下。在学习了Vue.js之后，发现用Vue.js确实要方便不少。也正是在学习了Vue.js之后，我才有想法建这个页面。和大家一起分享一下我的学习过程。
                        因为，我实在使太无聊了。想想就开心，哈哈哈哈。
                    </p>
                    <p>大家可以查看源码，看看我是如何运用Vue.js的，只是一点皮毛，还请大家多多包涵。有什么不足的可以联系我！<a href="#" @click="email">杨先森</a></p>
                </div>
                <hr>
                <div class="vueContent">
                    <!-- 点击实现下拉 -->
                    <div class="vueShow1" :class="{'active':isChoose}">
                        <div class="vueWrap" @click="isChoose=!isChoose">
                            <h3>我的学习方法！！</h3>
                            <p class="blog-post-meta">
                                2019.08.22 by <a href="#">杨先森</a>
                            </p>
                            <p>Vue.js有一个主张，就是尽量避免我们直接操作DOM。这句话相信大家学过JS的都应该清楚，也就是说在使用Vue.js的时候，我们不要出现document.getElementById()这类话。
                                而我的学习方法就是围绕这一点来学习的。
                            </p>


                            <h4>VUE与原生JS相结合</h4>
                            <p>正如我前面所说，VUE的主张是不喜欢我们直接操作DOM，所以，我在做VUE的一些实例时，会用原生的JS再写一遍，实现一样的效果。
                                这样，在学习VUE的同时，也复习了JS，毕竟原生JS才应该是前端程序员的基本！
                            </p>
                            <p>下面我来举个例子:</p>
                            <p>我们先通过VUE来实现一个跑马灯的效果。</p>
                            <p>点击下拉</p>
                        </div>
                        <!-- 实现下拉 -->
                        <div v-if="isChoose">
                            <p>这次先来代码图:</p>
                            <div class="code">
                                <img src="images/code9.png" alt="代码图" :class="{'active':magnify5}"
                                    @click="magnify5=!magnify5">
                            </div>
                            <p>理解之后，再来看看原生JS代码图:</p>
                            <div class="code">
                                <img src="images/code10.png" alt="代码图" :class="{'active':magnify6}"
                                    @click="magnify6=!magnify6">
                            </div>
                            <p>对比之后，我们发现其实两个都差不多，但我这么做的原因就是想多练习一下JS，希望大家会喜欢。</p>
                        </div>

                    </div>
                    <div class="vueShow1" :class="{'active':isChoose2}">
                        <div class="vueWrap" @click="isChoose2=!isChoose2">
                            <h3>Vue动画的应用</h3>
                            <p class="blog-post-meta">
                                2019.08.22 by <a href="#">杨先森</a>
                            </p>
                            <p>
                                在Vue.js的官网中，关于VUE动画，有这么一张图：
                            </p>
                            <div class="code">
                                <img src="images/vue1.png" alt="VUE动画" :class="{'active':magnify7}"
                                    @click="magnify7=!magnify7">
                            </div>
                            <p>这个就是VUE对于动画的解释图，从图上我们不难发现，v-enter和v-leave-to的状态应该是一样的。所以我们在设置动画的时候，可以把v-enter与v-leave-to设置状态相同。
                                <br>

                            </p>
                        </div>
                        <div v-if="isChoose2">
                            <p>如图:</p>
                            <div class="code">
                                <img src="images/code11.png" alt="代码图" :class="{'active':magnify8}"
                                    @click="magnify8=!magnify8">
                            </div>
                            <p>这样，我们就能通过 &lt;transition&gt;来包裹需要实现过渡或者动画的内容</p>
                            <p>这是第一种方式，这种方式可以用来实现全场的动画。但如果我们只需要半场动画该怎么办。这里VUE又有一种方式，Javascript钩子函数。</p>
                            <p>见图:</p>
                            <div class="code">
                                <img src="images/vue2.png" alt="代码图" :class="{'active':magnify9}"
                                    @click="magnify9=!magnify9">
                            </div>
                            <p>具体的使用方法大家可以去VUE官网学习，我在这里贴一张我写的。我这个效果是实现一个类似小球快到碗里来的效果</p>
                            <div class="code">
                                <img src="images/code12.png" alt="代码图" :class="{'active':magnify10}"
                                    @click="magnify10=!magnify10">
                            </div>
                            <p>因为，我只需要小球进碗里就可以了，不需要小球返回，所以是半场动画。所以在这里，我只设置了before-enter,enter,after-enter三个钩子函数。
                                在前半场完成了，小球要消失，我设置的是this.flag = !this.flag,有些人可能想到的是el.style.opacity =
                                0;设置透明度为零，理论上是没问题的，小球一样会消失。
                                但，如果是用透明度的话，小球不会马上消失，而是会停顿一会再消失。这个问题就跟我们没有设置的后半场钩子函数有关了。
                            </p>
                            <p>前半场我们通过flag=false 变为 flag=true 小球显形并完场前半场动画，如果我们在前半场不设置this.flag =
                                !this.flag，令flag再次等于false，那么就是继续调用后半场，
                                但我们后半场是不需要的，所以会有停顿。这里大家要注意一下，我之前也是遇到了这个问题，还好成功解决了。
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="vueContent">
                    <div class="vueShow1">
                        <div class="vueWrap" :class="{'active':isChoose3}" @click="isChoose3=!isChoose3">
                            <h3>
                                Vue命名视图实现经典布局
                            </h3>
                            <p class="blog-post-meta">
                                2019.08.23 by <a href="#">杨先森</a>
                            </p>
                            <p>
                                在学习Vue的过程中，我们会用到vue-router.js这个东西，这个东西就是控制我们路由的。而我们通过路由命名就可以实现经典布局。

                            </p>
                            <p>首先我们先看一下效果图：</p>
                            <div class="code">
                                <img src="images/vue3.png" alt="效果图" :class="{'active':magnify11}"
                                    @click="magnify11=!magnify11">
                            </div>
                            <p>
                                相信这个对于大家来说非常简单，小菜一碟。那么在VUE中，是如何实现的呢。
                            </p>
                        </div>
                        <div v-if="isChoose3">
                            <p>首先是我们的html结构：</p>
                            <div class="code">
                                <img src="images/code13.png" alt="代码图" :class="{'active':magnify12}"
                                    @click="magnify12=!magnify12">
                            </div>
                            <p>非常显而易见的HTML结构，在大家了解了vue-router.js后，就应该清楚&lt;router-view&gt;标签的作用了。</p>
                            <p>接下来，我们一起来瞧瞧Vue到底是如何实现的：</p>
                            <div class="code">
                                <img src="images/code14.png" alt="代码图" :class="{'active':magnify13}"
                                    @click="magnify13=!magnify13">
                            </div>
                            <p>在VueRouter routes中除了path属性，还是components。</p>
                            <p>在这里我们来总结一下routes中属性及作用，path表示路由路径，component表示路由对应的组件，redirect表示默认路由路径，components可以一个路径多个组件。
                            </p>
                            <p>最后在完成布局后，给各个组件添加样式：</p>
                            <div class="code">
                                <img src="images/code15.png" alt="代码图" :class="{'active':magnify14}"
                                    @click="magnify14=!magnify14">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </template>
    <!-- bootstrap组件 -->
    <template id="temp5">
        <div>
            <div class="container">
                <div class="blog-header">
                    <h2 class="blog-title">
                        Bootstrap
                    </h2>
                    <p class="lead blog-description">
                        来自 Twitter，是目前最受欢迎的前端框架。
                    </p>
                </div>
                <div class="blog-post">
                    <h3>Bootstrap 栅格系统</h3>
                    <p class="blog-post-meta">
                        2019.08.28 by <a href="#">杨先森</a>
                    </p>
                    <p>首先先来介绍一下什么是Bootstrap 栅格系统，bootstrap为我们提供了一套完整的流体栅格系统，而且随着屏幕或者视口尺寸的增加，系统自动
                        分成最多12列，通过类名使用非常方便。
                    </p>
                    <p>其原理是采取12列的栅格体系，根据主流设备的尺寸进行分段，每段宽度固定并且浮动，通过百分比和媒体查询实现响应式布局。
                    </p>
                    <p>以下是来自bootstrap中文网的工作原理解释：</p>
                    <blockquote style="font-size: 14px;">
                        <ul class="ul2">
                            <li>“行（row）”必须包含在 .container （固定宽度）或 .container-fluid （100%
                                宽度）中，以便为其赋予合适的排列（aligment）和内补（padding）。</li>
                            <li>通过“行（row）”在水平方向创建一组“列（column）”</li>
                            <li>你的内容应当放置于“列（column）”内，并且，只有“列（column）”可以作为行（row）”的直接子元素。</li>
                            <li>类似 .row 和 .col-xs-4 这种预定义的类，可以用来快速创建栅格布局。Bootstrap 源码中定义的 mixin 也可以用来创建语义化的布局。</li>
                            <li>通过为“列（column）”设置 padding 属性，从而创建列与列之间的间隔（gutter）。通过为 .row 元素设置负值 margin 从而抵消掉为
                                .container 元素设置的 padding，也就间接为“行（row）”所包含的“列（column）”抵消掉了padding。</li>
                            <li>负值的 margin就是下面的示例为什么是向外突出的原因。在栅格列中的内容排成一行。</li>
                            <li>栅格系统中的列是通过指定1到12的值来表示其跨越的范围。例如，三个等宽的列可以使用三个 .col-xs-4 来创建。</li>
                            <li>如果一“行（row）”中包含了的“列（column）”大于 12，多余的“列（column）”所在的元素将被作为一个整体另起一行排列。</li>
                            <li>栅格类适用于与屏幕宽度大于或等于分界点大小的设备 ， 并且针对小屏幕设备覆盖栅格类。 因此，在元素上应用任何 .col-md-*
                                栅格类适用于与屏幕宽度大于或等于分界点大小的设备 ， 并且针对小屏幕设备覆盖栅格类。 因此，在元素上应用任何 .col-lg-* 不存在， 也影响大屏幕设备。</li>
                        </ul>
                    </blockquote>
                    <p>在这里同时也放一张图，以便大家理解：</p>
                    <div class="code">
                        <img src="images/bootstrap1.png" alt="bootstrap" :class="{'active':magnify19}"
                            @click="magnify19=!magnify19">
                    </div>
                    <p>更多详细的描述，请大家移步去Bootstrap中文网。<a href="https://www.bootcss.com/"
                            target="_blank">https://www.bootcss.com/</a>。</p>
                    <p>在这里我也做了一些小总结，比如单元格的类如何选择和使用。</p>
                    <p>单元格一共有四种：</p>
                    <p>.col-xs-:无论屏幕宽度如何，单元格都在一行,宽度按照百分比设置。</p>
                    <p>.col-sm-:屏幕大于768px时，单元格在一行显示，小于768px，独占一行。</p>
                    <p>.col-md-:屏幕大于992px时，单元格在一行显示，小于992px，独占一行。</p>
                    <p>.col-lg-:屏幕大于1200px时，单元格在一行显示，小于1200px，独占一行。</p>
                </div>
                <hr>
                <div class="blog-post">
                    <h3>解析：栅格系统中的“15px”</h3>
                    <p class="blog-post-meta">
                        2019.09.07 by <a href="#">杨先森</a>
                    </p>
                    <p>相信有很多人都和我一样，在运用Bootstrap的时候，在检查时会发现，在栅格系统中的padding,margin出现了大量的15px，那么这15px到底有什么作用呢？</p>
                    <p>让我们来一步一步解开：</p>
                    <p>首先是container的padding-left和padding-right的15px。</p>
                    <p><strong>目的：</strong>为了是其中的内容不紧贴浏览器边缘。</p>
                    <p>接下来就是row的两侧有margin：-15px。</p>
                    <p><strong>目的：</strong>这个负margin把row推出了container的15px，使之重叠。</p>
                    <p>最后是col也有左右两个padding的15px。</p>
                    <p><strong>目的：</strong>防止col的内容直接接触边界。</p>
                    <p>也许一些善于思考的同学会发现，我们只是单纯的设置col的padding为15px，就可以达到上述的目的。这个对于常规的row，col，是合理的。</p>
                    <p>但是对于嵌套列，如何只设置col的padding为15px，就无法正常实现了。</p>
                    <p>当设置了container，row，col后，如果要在col中嵌套col。首先要把被嵌套的col放到row中，把row放到作为容器的col中，而不需要重新设置一个
                        container，被嵌套的col就充当了container。而又因为col和container有相同的padding15px，保持了一致性。
                    </p>
                    <p>在这个我给大家示范一下：</p>
                    <pre>
                        <code>
   &lt;div class="container"&gt;
        &lt;div class="row"&gt;
        &lt;!-- 被嵌套的col，当作container --&gt;
            &lt;div class="col-sm-4"&gt;
                &lt;div class="row"&gt;
                    &lt;div class="col-xs-4" style="background-color:red;height:100px;"&gt;&lt;/div&gt;
                    &lt;div class="col-xs-4" style="background-color:pink;height:100px;"&gt;&lt;/div&gt;
                    &lt;div class="col-xs-4" style="background-color:green;height:100px;"&gt;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col-sm-4" style="background-color:blue;height:100px;"&gt;&lt;/div&gt;
            &lt;div class="col-sm-4" style="background-color:black;height:100px;"&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
                        </code>
                    </pre>
                    <div class="code">
                        <img src="images/bs2.png" alt="效果图" :class="{'active':magnify20}" @click="magnify20=!magnify20">
                    </div>
                    <p>以上，就是我对栅格系统中15px的分析了。</p>
                </div>
                <hr>
                <div class="blog-post">
                    <h3>用Bootstrap做某企业网站</h3>
                    <p class="blog-post-meta">
                        2019.09.07 by <a href="#">杨先森</a>
                    </p>
                    <p>杨先森经常会去网上找一些实例来练习，就比如下面这个企业网站就是杨先森用bootstrap做出来的，以下是网站部分截图。</p>
                    <div class="code">
                        <img src="images/bs3.png" alt="效果图" :class="{'active':magnify21}" @click="magnify21=!magnify21">
                    </div>
                    <p>杨先森认为用bootstrap做出来的网站，不仅美观，而且容易上手。是每个前端人员必须掌握的一项技能。</p>
                </div>
            </div>
        </div>
    </template>
    <script>
        // var router = new VueRouter({
        //     routes: [
        //         { path: '/', redirect: '/shouye' },
        //         { path: '/shouye', component: shouye },
        //         { path: '/html5', component: html5 },
        //         { path: '/css', component: css },
        //         { path: '/js', component: js },
        //         { path: '/vue', component: vue },
        //         { path: '/bs', component: bs },
        //     ]
        // })
        var shouye = {
            data: function () {
                return {
                    magnify18: false,
                    pmsg:'我的帅照',
                    isActive:false,
                    noActive:true,
                    
                }
            },
            template: '#temp',
            created(){
                
            },
            mounted() {
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    document.getElementById("pcnav").style.display = "none"
                }
                var postTitle = document.querySelector('.blog-title')
                var typingbefore = '欢迎来到艾瑞克杨先森的学习基地'
                var _i = 0
                function typetitle() {
                    if (_i <= typingbefore.length) {
                        postTitle.innerHTML = typingbefore.slice(0,_i++)
                        setTimeout(typetitle, 120)
                    } 
                    else {
                        postTitle.innerHTML = typingbefore
                    }
                }
                typetitle()
            },
            methods:{
                Eric(){
                    this.pmsg = '艾瑞克'
                    this.noActive =! this.noActive
                    this.isActive =! this.isActive
                },
                touxiang(){
                    this.pmsg = "我的帅照"
                    this.noActive =! this.noActive
                    this.isActive =! this.isActive
                },
                github(){
                    this.pmsg = "点击前往github"
                    this.noActive =! this.noActive
                    this.isActive =! this.isActive
                }
            }
        }
        var html5 = {
            template: '#temp1',
            mounted(){
                var postTitle = document.querySelector('.blog-title')
                var typingbefore = 'HyperText Markup Language'
                var _i = 0
                function typetitle() {
                    if (_i <= typingbefore.length) {
                        postTitle.innerHTML = typingbefore.slice(0,_i++)
                        setTimeout(typetitle, 120)
                    } 
                    else {
                        postTitle.innerHTML = typingbefore
                    }
                }
                typetitle()
            }
        }
        var css = {
            template: '#temp2',
            mounted(){
                var postTitle = document.querySelector('.blog-title')
                var typingbefore = 'CSS'
                var _i = 0
                function typetitle() {
                    if (_i <= typingbefore.length) {
                        postTitle.innerHTML = typingbefore.slice(0,_i++)
                        setTimeout(typetitle, 120)
                    } 
                    else {
                        postTitle.innerHTML = typingbefore
                    }
                }
                typetitle()
            }
        }
        var js = {
            data: function () {
                return {
                    flag: false,
                    magnify: false,
                    magnify1: false,
                    magnify2: false,
                    magnify3: false,
                    magnify4: false,
                    flag2: false,
                    flag3: false,
                    magnify15: false,
                    magnify16: false,
                    magnify17: false,
                    flag4: false,
                }
            },
            template: '#temp3',
            mounted() {
                var postTitle = document.querySelector('.blog-title')
                var typingbefore = 'Javascript'
                var _i = 0
                function typetitle() {
                    if (_i <= typingbefore.length) {
                        postTitle.innerHTML = typingbefore.slice(0,_i++)
                        setTimeout(typetitle, 120)
                    } 
                    else {
                        postTitle.innerHTML = typingbefore
                    }
                }
                typetitle()
                var canV = document.getElementById('canvas')
                var ctx = canV.getContext("2d")
                var text = "QWERTYUIOPASFDGHJLZMNXBCV"
                var size = 24
                var num = parseInt(canV.width / size)
                var arr = []
                for (var i = 0; i < num; i++) {//x 坐标 size * i
                    //字母下落的起点y坐标 
                    arr.push(0)
                }
                function draw() {
                    ctx.fillStyle = 'rgba(0,0,0,0.1)'
                    ctx.fillRect(0, 0, canV.width, canV.height)//填充整个画布
                    ctx.fillStyle = 'green'//填充颜色
                    ctx.font = "10px arial"
                    for (var i = 0; i < num; i++) {
                        var ox = size * i// x 坐标
                        var oy = arr[i] * size //y 坐标
                        if (oy > canV.height && Math.random() > 0.98) {
                            arr[i] = 0
                        }
                        arr[i]++
                        var random = Math.floor(Math.random() * text.length)
                        // console.log(arr)
                        ctx.fillText(text[random], ox, oy)
                    }
                }
                setInterval(draw, 50)
            },
            methods: {
                email() {
                    alert('邮箱：' + '695249658@qq.com')
                }
            }
        }
        var vue = {
            data: function () {
                return {
                    magnify5: false,
                    magnify6: false,
                    magnify7: false,
                    magnify8: false,
                    magnify9: false,
                    magnify10: false,
                    isChoose: false,
                    isChoose2: false,
                    isChoose3: false,
                    magnify11: false,
                    magnify12: false,
                    // isChoose4:false,
                    magnify13: false,
                    magnify14: false,
                }
            },
            mounted(){
                var postTitle = document.querySelector('.blog-title')
                var typingbefore = 'Vue.js'
                var _i = 0
                function typetitle() {
                    if (_i <= typingbefore.length) {
                        postTitle.innerHTML = typingbefore.slice(0,_i++)
                        setTimeout(typetitle, 120)
                    } 
                    else {
                        postTitle.innerHTML = typingbefore
                    }
                }
                typetitle()
            },
            template: '#temp4',
            methods: {
                email() {
                    alert('邮箱:' + '695249658@qq.com')
                }
            }
        }
        var bs = {
            data: function () {
                return {
                    magnify19: false,
                    magnify20: false,
                    magnify21: false,
                }
            },
            template: '#temp5',
            mounted(){
                var postTitle = document.querySelector('.blog-title')
                var typingbefore = 'Bootstrap'
                var _i = 0
                function typetitle() {
                    if (_i <= typingbefore.length) {
                        postTitle.innerHTML = typingbefore.slice(0,_i++)
                        setTimeout(typetitle, 120)
                    } 
                    else {
                        postTitle.innerHTML = typingbefore
                    }
                }
                typetitle()
            }
        }
        var vm = new Vue({
            el: '#app',
            data: {
                way: shouye,
                isActive:false,
                noActive:true,
                pmsg2:''

            },
            mounted() {
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    var a = document.getElementById("pcnav").style.display = "none"

                } else {
                    document.getElementById("mySidenav").style.display = "none"
                    document.getElementById("mySidenav2").style.display = "none"
                }
            },
            methods: {
                open() {
                    document.getElementById("mySidenav").style.width = "25%"
                },
                close() {
                    document.getElementById("mySidenav").style.width = "0"
                },
                touxiang1(){
                    this.pmsg2 = "我的帅照"
                    this.isActive =! this.isActive
                    this.noActive =! this.noActive
                },
                Eric1(){
                    this.pmsg2 = "艾瑞克"
                    this.isActive =! this.isActive
                    this.noActive =! this.noActive
                },
                github(){
                    this.pmsg2 = "点击前往github"
                    this.isActive =! this.isActive
                    this.noActive =! this.noActive
                }
            },
            component: {
                shouye,
                html5,
                css,
                js,
                vue,
                bs,
            },
            // router
        })</script>

</body>

</html>